<div class="col-6 offset-3 text-center">
    <form [formGroup]="postForm" class="text-center border border-light p-5" (ngSubmit)="onSubmit()">
        <p class="h4 mb-4">Ricerca per Stazione</p>
        <label>Stazione</label>
        <select class="browser-default custom-select mb-4" formControlName="stazioneId">
            <option [value]="example.Name" *ngFor="let example of stations">
                {{example.Name}}
            </option>
        </select>
        <button class="btn btn-info btn-block">Calcola</button>
    </form>
</div>
<div class="row wow fadeIn" *ngIf="flagInquinanti">

    <div class="col-lg-6 col-md-6 mb-4" *ngFor="let example of chartDatasetsSingles">
        <mdb-card>

            <!-- Card header -->
            <div class="card-header">{{example.label}}<sub>{{example.pedice}}</sub> [{{example.misura}} <sub>{{example.misuraPedice}}</sub>]</div>

            <!--Card content-->
            <mdb-card-body>

                <div style="display: block">
                    <canvas mdbChart [chartType]="chart3Type" [datasets]="example.dataSet" [labels]="chartLabels"
                            [colors]="chartColors" [options]="chartOptions"
                            [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>

        </mdb-card>
    </div>

</div>
<!--Grid row-->
<div class="row wow fadeIn mt-5">
    <!--Grid column-->
    <div class="col-md-12 mb-4">
        <!--Card-->
        <mdb-card *ngIf="flag">
            <div class="card-header">Riassunto annuo diagnosi referti</div>

            <!--Card content-->
            <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart [chartType]="chart1Type" [datasets]="chartRefertiDatasets" [labels]="chartReferitLabels"
                            [colors]="chartColors" [options]="chartOptions"
                            [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>
        </mdb-card>
        <!--/.Card-->
    </div>

</div>
<!--Grid row-->


<div class="row wow fadeIn" *ngIf="flagInquinanti">
    <div class="col-lg-12 col-md-12 mb-4">

        <!--Card-->
        <mdb-card>

            <!-- Card header -->
            <div class="card-header">TUTTI </div>

            <!--Card content-->
            <mdb-card-body>

                <div style="display: block">
                    <canvas mdbChart [chartType]="chart3Type" [datasets]="chartDatasets" [labels]="chartLabels"
                            [colors]="chartColors" [options]="chartOptions"
                            [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>

        </mdb-card>
        <!--/.Card-->

    </div>
</div>
<!--Grid row-->


